
@media only screen and (max-width:1080px) and (min-width:440px){
    .container{
        width: 100%;
        padding: 50px;
        border: 1px solid green;
    }
}

@media only screen and (min-resolution: 350dpi){
    .container{
        width: 100%;
        padding: 50px;
        border: 1px solid red;
    }
}



