.container{
    width: 1080px;
    padding: 100px;
    border: 1px solid red;
}

@media only screen{
    .container{
        width: 100%;
        padding: 50px;
        border: 1px solid green;
    }
}